<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (payment(); as paymentRef) {
      <div>
        <h2 data-cy="paymentDetailsHeading"><span jhiTranslate="jhipsterApp.payment.detail.title">Payment</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ paymentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.payment.paymentId">Payment Id</span></dt>
          <dd>
            <span>{{ paymentRef.paymentId }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.payment.transactionId">Transaction Id</span></dt>
          <dd>
            <span>{{ paymentRef.transactionId }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.payment.receiptNumber">Receipt Number</span></dt>
          <dd>
            <span>{{ paymentRef.receiptNumber }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.payment.transactionDate">Transaction Date</span></dt>
          <dd>
            <span>{{ paymentRef.transactionDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.payment.transactionType">Transaction Type</span></dt>
          <dd>
            <span [jhiTranslate]="'jhipsterApp.TransactionType.' + (paymentRef.transactionType ?? 'null')">{{
              { null: '', CREDIT: 'CREDIT', DEBIT: 'DEBIT' }[paymentRef.transactionType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.payment.transactionAmount">Transaction Amount</span></dt>
          <dd>
            <span>{{ paymentRef.transactionAmount }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.payment.transactionStatus">Transaction Status</span></dt>
          <dd>
            <span [jhiTranslate]="'jhipsterApp.TransactionStatus.' + (paymentRef.transactionStatus ?? 'null')">{{
              { null: '', SUCCESS: 'SUCCESS', FAILED: 'FAILED', PENDING: 'PENDING' }[paymentRef.transactionStatus ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.payment.cardNumber">Card Number</span></dt>
          <dd>
            <span>{{ paymentRef.cardNumber }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.payment.expiryDate">Expiry Date</span></dt>
          <dd>
            <span>{{ paymentRef.expiryDate }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.payment.cvv">Cvv</span></dt>
          <dd>
            <span>{{ paymentRef.cvv }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.payment.cardholderName">Cardholder Name</span></dt>
          <dd>
            <span>{{ paymentRef.cardholderName }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.payment.booking">Booking</span></dt>
          <dd>
            @if (payment()!.booking) {
              <div>
                <a [routerLink]="['/booking', payment()!.booking?.id, 'view']">{{ paymentRef.booking?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/payment', paymentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
