<div>
  <h2 id="page-heading" data-cy="PassengerHeading">
    <span jhiTranslate="jhipsterApp.passenger.home.title">Passengers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="jhipsterApp.passenger.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-passenger"
        [routerLink]="['/passenger/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.passenger.home.createLabel">Create a new Passenger</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (passengers().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jhipsterApp.passenger.home.notFound">No Passengers found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="passengerName">
              <div class="d-flex">
                <span jhiTranslate="jhipsterApp.passenger.passengerName">Passenger Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="age">
              <div class="d-flex">
                <span jhiTranslate="jhipsterApp.passenger.age">Age</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="coachNumber">
              <div class="d-flex">
                <span jhiTranslate="jhipsterApp.passenger.coachNumber">Coach Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="seatNumber">
              <div class="d-flex">
                <span jhiTranslate="jhipsterApp.passenger.seatNumber">Seat Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="booking.id">
              <div class="d-flex">
                <span jhiTranslate="jhipsterApp.passenger.booking">Booking</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (passenger of passengers(); track trackId(passenger)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/passenger', passenger.id, 'view']">{{ passenger.id }}</a>
              </td>
              <td>{{ passenger.passengerName }}</td>
              <td>{{ passenger.age }}</td>
              <td>{{ passenger.coachNumber }}</td>
              <td>{{ passenger.seatNumber }}</td>
              <td>
                @if (passenger.booking) {
                  <div>
                    <a [routerLink]="['/booking', passenger.booking.id, 'view']">{{ passenger.booking.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/passenger', passenger.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/passenger', passenger.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(passenger)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
