<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-invoice-heading" data-cy="InvoiceCreateUpdateHeading" jhiTranslate="jhipsterApp.invoice.home.createOrEditLabel">
        Create or edit a Invoice
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="jhipsterApp.invoice.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let invoiceNumberRef = editForm.get('invoiceNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_invoiceNumber" jhiTranslate="jhipsterApp.invoice.invoiceNumber">Invoice Number</label>
          <input
            type="text"
            class="form-control"
            name="invoiceNumber"
            id="field_invoiceNumber"
            data-cy="invoiceNumber"
            formControlName="invoiceNumber"
          />
          @if (invoiceNumberRef.invalid && (invoiceNumberRef.dirty || invoiceNumberRef.touched)) {
            <div>
              @if (editForm.get('invoiceNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let paymentIdRef = editForm.get('paymentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_paymentId" jhiTranslate="jhipsterApp.invoice.paymentId">Payment Id</label>
          <input type="text" class="form-control" name="paymentId" id="field_paymentId" data-cy="paymentId" formControlName="paymentId" />
          @if (paymentIdRef.invalid && (paymentIdRef.dirty || paymentIdRef.touched)) {
            <div>
              @if (editForm.get('paymentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let transactionIdRef = editForm.get('transactionId')!;
        <div class="mb-3">
          <label class="form-label" for="field_transactionId" jhiTranslate="jhipsterApp.invoice.transactionId">Transaction Id</label>
          <input
            type="text"
            class="form-control"
            name="transactionId"
            id="field_transactionId"
            data-cy="transactionId"
            formControlName="transactionId"
          />
          @if (transactionIdRef.invalid && (transactionIdRef.dirty || transactionIdRef.touched)) {
            <div>
              @if (editForm.get('transactionId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let receiptNumberRef = editForm.get('receiptNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_receiptNumber" jhiTranslate="jhipsterApp.invoice.receiptNumber">Receipt Number</label>
          <input
            type="text"
            class="form-control"
            name="receiptNumber"
            id="field_receiptNumber"
            data-cy="receiptNumber"
            formControlName="receiptNumber"
          />
          @if (receiptNumberRef.invalid && (receiptNumberRef.dirty || receiptNumberRef.touched)) {
            <div>
              @if (editForm.get('receiptNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let invoiceDateRef = editForm.get('invoiceDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_invoiceDate" jhiTranslate="jhipsterApp.invoice.invoiceDate">Invoice Date</label>
          <div class="d-flex">
            <input
              id="field_invoiceDate"
              data-cy="invoiceDate"
              type="datetime-local"
              class="form-control"
              name="invoiceDate"
              formControlName="invoiceDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (invoiceDateRef.invalid && (invoiceDateRef.dirty || invoiceDateRef.touched)) {
            <div>
              @if (editForm.get('invoiceDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('invoiceDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let transactionTypeRef = editForm.get('transactionType')!;
        <div class="mb-3">
          <label class="form-label" for="field_transactionType" jhiTranslate="jhipsterApp.invoice.transactionType">Transaction Type</label>
          <select
            class="form-control"
            name="transactionType"
            formControlName="transactionType"
            id="field_transactionType"
            data-cy="transactionType"
          >
            <option [ngValue]="null">{{ 'jhipsterApp.TransactionType.null' | translate }}</option>
            @for (transactionType of transactionTypeValues; track $index) {
              <option [value]="transactionType">{{ 'jhipsterApp.TransactionType.' + transactionType | translate }}</option>
            }
          </select>
          @if (transactionTypeRef.invalid && (transactionTypeRef.dirty || transactionTypeRef.touched)) {
            <div>
              @if (editForm.get('transactionType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let transactionAmountRef = editForm.get('transactionAmount')!;
        <div class="mb-3">
          <label class="form-label" for="field_transactionAmount" jhiTranslate="jhipsterApp.invoice.transactionAmount"
            >Transaction Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="transactionAmount"
            id="field_transactionAmount"
            data-cy="transactionAmount"
            formControlName="transactionAmount"
          />
          @if (transactionAmountRef.invalid && (transactionAmountRef.dirty || transactionAmountRef.touched)) {
            <div>
              @if (editForm.get('transactionAmount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('transactionAmount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let transactionStatusRef = editForm.get('transactionStatus')!;
        <div class="mb-3">
          <label class="form-label" for="field_transactionStatus" jhiTranslate="jhipsterApp.invoice.transactionStatus"
            >Transaction Status</label
          >
          <select
            class="form-control"
            name="transactionStatus"
            formControlName="transactionStatus"
            id="field_transactionStatus"
            data-cy="transactionStatus"
          >
            <option [ngValue]="null">{{ 'jhipsterApp.TransactionStatus.null' | translate }}</option>
            @for (transactionStatus of transactionStatusValues; track $index) {
              <option [value]="transactionStatus">{{ 'jhipsterApp.TransactionStatus.' + transactionStatus | translate }}</option>
            }
          </select>
          @if (transactionStatusRef.invalid && (transactionStatusRef.dirty || transactionStatusRef.touched)) {
            <div>
              @if (editForm.get('transactionStatus')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let customerDetailsRef = editForm.get('customerDetails')!;
        <div class="mb-3">
          <label class="form-label" for="field_customerDetails" jhiTranslate="jhipsterApp.invoice.customerDetails">Customer Details</label>
          <input
            type="text"
            class="form-control"
            name="customerDetails"
            id="field_customerDetails"
            data-cy="customerDetails"
            formControlName="customerDetails"
          />
          @if (customerDetailsRef.invalid && (customerDetailsRef.dirty || customerDetailsRef.touched)) {
            <div>
              @if (editForm.get('customerDetails')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_payment" jhiTranslate="jhipsterApp.invoice.payment">Payment</label>
          <select
            class="form-control"
            id="field_payment"
            data-cy="payment"
            name="payment"
            formControlName="payment"
            [compareWith]="comparePayment"
          >
            <option [ngValue]="null"></option>
            @for (paymentOption of paymentsSharedCollection; track $index) {
              <option [ngValue]="paymentOption">{{ paymentOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
